
.Form
{
    background-color: rgb(255, 250, 243);
    width: 100%;
    top:0;
    height: 100%;
    z-index: 100;
    position: absolute;
    border-radius: 5px;
    
}

.thankyou_for_rsvping
{
    padding: 10px;
    margin: auto auto;
    background-color: black;
    position: absolute;
    color: bisque;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.ExitButton
{
    padding: 10px;
    border-radius: 0 5px 0 0 ;
    right: 0;
    float: right;
    position: relative;
    z-index: 1245 !important;
    background-color: rgb(139, 0, 0);
}

.FormContainer
{
    /* position: inherit; */
    z-index: 102;
    height: 100%;
    margin: 0 auto;
    /* background-color: rgb(0, 255, 255); */
    width: 100%;
}
.FormHeader
{
    /* background-color: darkblue; */
    padding-bottom: 1vh;
    border-bottom: 3px double black;
}
.FormContainer
{
    width: 100%;
    margin: 0;
    top:0;
    /* background-color: yellow; */
    padding: 0;
}

.FormHeaderTitle
{
    /* background-color: red; */
    margin: 0;
    padding-top: 4px;
    width: 100%;
    font-size:8.5vh;
    line-height: 0.9;
}
.FormHeadersubheader
{
    padding: 0px;
    margin: 0;
    /* margin-top: -20px; */
    background-color: goldenrod;
    font-size: 5.5vh;
    
    color: rgb(255, 255, 255);
}
.ForHeaderName
{
    /* margin-top: -30px; */
    margin: 0;
    margin-top: -2vh;
    /* line-height: 0.7; */

    /* background-color: darkblue; */
    padding: 0;
    font-size: 10vh;
    font-weight: bold;
}
.FormHeaderParagraph
{
    padding: 0 5vh;
    margin: 0;
    font-size: 3.4vh;
    /* margin-top:-30px; */
}
.FormBody
{
    position: relative;
    z-index: 1;
    padding: 2vh;
    /* background-color: cadetblue; */
    height: 50%;
}
.form-input-row
{
    display: inline-flex;
    /* justify-content: center; */
    /* background-color: honeydew; */
    
    width: 100%;
}
.form-input-row-2
{
    display: inline-flex;
    /* justify-content: center; */
    /* text-align: center; */
    
    /* background-color: honeydew; */
    width: 400%;
    
}
.form-radio-row
{
    font-size: 3vh;
    /* display: inline-flex; */
    /* justify-content: center; */
    /* background-color: rgb(82, 221, 82); */
    width: 20vh;
    padding-top: 1.5vh;
}
.form-input-box
{
    margin: 0;
    margin-left: 2vh;
    /* background-color: rgb(21, 255, 0); */
    width: 45%;
    /* text-align: left; */
}
.form-input
{
    width: 95%;
    border: none;
    background: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    font-size: 3vh;
}
.form-label
{
    margin: 0;
    
    padding-top: 1.4vh;
    /* background-color: yellow; */
    font-size: 3vh;
    text-align: left;
    width: 100%;
}
.form-label-2
{
    font-size: 3vh;
    margin: 0;
    margin-left: 1vh;
    padding-top: 2vh;
    /* background-color: yellow; */
    text-align: left;
    /* width: 70%; */
}
#input-numberOfGuests
{
    display: inline-flex;
    width: 100%;
    /* background-color: dodgerblue; */
    
}
#input-numberOfGuests-select
{
    font-size: 3vh;
    width: 15vh;
    height: 5vh;
    margin-top: 1.5vh;
    margin-left: 1vh;
    /* height: 3vh; */
    /* background-color: darkblue; */
    /* padding-top: 1.5vh; */
    /* background-color: rgb(101, 122, 143); */
    
    background: none;
    border-bottom: 2px solid rgb(0, 0, 0);
}
.FormFooter
{
    /* background-color: brown; */
    position: absolute;
    width: 100%;
    padding: 5px 0;
    bottom: 0;
    z-index: 1;
}

.formNavButton
{
  /* position: relative; */
  background-color: rgb(0, 0, 0);
  color: var(--paper-color);
  margin: auto;
  font-weight: bold;
  border-radius: 5px;
  /* top: 16.5vh; */
  z-index: 1;
  padding: 1.2vh;
  font-size: 2.6vh;
  border: 2px ghostwhite inset
}

.confirmation-paragraphs
{
    font-size: 2.3vh;
}

.formNavButton:hover
{
  border:outset
}
/* @media (max-width: 450px), ((max-height: 700px) and (orientation: landscape))  {
{
    \
} */

/* Portrait */

@media (max-width: 450px), ((max-height: 700px) and (orientation: landscape))  {



.FormHeaderTitle
{
    /* background-color: red; */
    margin: 0;
    padding-top: 4px;
    width: 100%;
    font-size:40px;
    line-height: 0.9;
}
.FormHeadersubheader
{
    font-size: 27px;
    background-color: goldenrod;
    color: rgb(255, 255, 255);
    margin-bottom: 4px;
    
    
}
.ForHeaderName
{
    margin-top: -15px;
    padding: 0;
    font-size: 53px;
}
.FormHeaderParagraph
{
    padding: 0 25px;
    font-size: 17px;
    margin-top: -5px;
}
.FormBody
{
    padding: 12px;
}

.form-radio-row
{
    font-size: 16px;
    width: 95px;
    padding-top: 5px;
}
.form-input-box
{
    margin-left: 10px;
}
.form-input
{
    font-size: 16px;
    
}
.form-label
{
    padding-top: 0px;
    /* background-color: yellow; */
    font-size: 16px;
}
.form-label-2
{
    font-size: 16px;
    margin-left: 10px;
    padding-top: 10px;
    width:150px;
    /* background-color: yellow; */
    /* background-color: darkcyan; */
    text-align: left;
    /* width: 70%; */
}
#input-numberOfGuests
{
    display: inline-flex;
    width: 100%;
    /* background-color: dodgerblue; */
    
}
#input-numberOfGuests-select
{
    font-size: 16px;
    width: 70px;
    height: 25px;
    margin-top: 10px;
    margin-left: 10px;
    
    background: none;
    border-bottom: 2px solid rgb(0, 0, 0);
}
.FormFooter
{
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 1;
}
.confirmation_Page
{
    /* background-color: darkcyan;
    position: top; */
}
.confirmation-header
{
    margin: 0;
    font-size: 19px;
}
.formNavButton
{
  padding: 4px;
  font-size: 16px;
  border: 2px ghostwhite inset
}

.confirmation-paragraphs
{
    font-size: 16px;
}


  }
  
  