html
{
    --paragraph--size: 20px;
}


.Form
{
    background-color: rgb(255, 250, 243);
    width: 100%;
    top:0;
    height: 100%;
    z-index: 100;
    /* position: absolute; */
    border-radius: 5px;
    
}

.thankyou_for_rsvping
{
    padding: 10px;
    margin: auto auto;
    background-color: black;
    position: absolute;
    color: bisque;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.ExitButton
{
    padding: 10px;
    border-radius: 0 5px 0 0 ;
    right: 0;
    float: right;
    position: relative;
    z-index: 1245 !important;
    background-color: rgb(139, 0, 0);
}

.FormContainer
{
    /* position: inherit; */
    z-index: 102;
    height: 100%;
    margin: 0 auto;
    /* background-color: rgb(0, 255, 255); */
    width: 100%;
}
.FormHeader
{
    /* background-color: darkblue; */
    padding-bottom: 10px;
    border-bottom: 3px double black;
}
.FormContainer
{
    width: 100%;
    margin: 0;
    top:0;
    /* background-color: yellow; */
    padding: 0;
}

.FormHeaderTitle
{
    /* background-color: red; */
    margin: 0;
    padding-top: 4px;
    width: 100%;
    font-size: 60px;
    line-height: 0.9;
}
.FormHeadersubheader
{
    padding: 0px;
    margin: 0;
    background-color: rgb(170, 156, 119);;
    font-size: 35px;
    color: rgb(255, 255, 255);
}
.ForHeaderName
{
    /* margin-top: -30px; */
    margin: 0;
    margin-top: -15px;

    padding: 0;
    font-size: 75px;
    font-weight: bold;
}
.FormHeaderParagraph
{
    padding: 0 20px;
    margin: 0;
    font-size: var(--paragraph--size);
}
.FormBody
{
    position: relative;
    z-index: 1;
    height: 150px;
}
.form-input-row
{
    display: inline-flex;
    width: 100%;
}
.form-input-row-2
{
    display: inline-flex;
    width: 100%;
    
}
.form-radio-row
{
    font-size: var(--paragraph--size);
    width: 20%;
    margin-left: 20px;
    padding-top: 10px;
}
.form-input-box
{
    margin: 0;
    margin-left: 15px;
    /* background-color: rgb(21, 255, 0); */
    width: 45%;
    
    /* text-align: left; */
}
.form-input
{
    width: 95%;
    border: none;
    background: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    font-size: var(--paragraph--size);
}
.form-label
{
    margin: 0;
    padding-top: 15px;
    /* background-color: yellow; */
    font-size: var(--paragraph--size);
    text-align: left;
    width: 100%;
}
.form-label-2
{
    font-size: var(--paragraph--size);
    margin: 0;
    margin-left: 10px;
    padding-top: 10px;
    /* background-color: yellow; */
    text-align: left;
    /* width: 70%; */
}
#input-numberOfGuests
{
    display: inline-flex;
    width: 100%;
    /* background-color: dodgerblue; */
    
}
#input-numberOfGuests-select
{
    font-size: var(--paragraph--size);
    width: 70px;
    height: 25px;
    margin-top: 7px;
    margin-left: 10px;
    background: none;
    border-bottom: 2px solid rgb(0, 0, 0);
}
.FormFooter
{
    /* background-color: brown; */
    position: relative;
    /* width: 100%; */
    padding: 5px 0;
    bottom: 0;
    z-index: 223423432;
    margin-bottom: 20px;
}

.formNavButton
{
  /* position: relative; */
  background-color: rgb(0, 0, 0);
  color: var(--paper-color);
  margin: auto;
  font-weight: bold;
  border-radius: 5px;
  z-index: 1;
  padding: 7px;
  font-size: var(--paragraph--size);
  border: 2px ghostwhite inset;
}

.confirmation-paragraphs
{
    font-size: var(--paragraph--size);
}

.formNavButton:hover
{
  border:outset
}


