html {
  --s: 37px; /* control the size*/
  --c1: #994848;
  --c2: #d9d9d9;
  --c:#0000,var(--c1) .5deg 119.5deg,#0000 120deg;
  --g1:conic-gradient(from  60deg at 56.25% calc(425%/6),var(--c));
  --g2:conic-gradient(from 180deg at 43.75% calc(425%/6),var(--c));
  --g3:conic-gradient(from -60deg at 50%   calc(175%/12),var(--c));
  --paper-color: rgb(255, 250, 243);
  
/* background-color: var(--c1); */
/* background:
    var(--g1),var(--g1) var(--s) calc(1.73*var(--s)),
    var(--g2),var(--g2) var(--s) calc(1.73*var(--s)),
    var(--g3) var(--s) 0,var(--g3) 0 calc(1.73*var(--s)) 
    var(--c2);
  background-size: calc(2*var(--s)) calc(3.46*var(--s)); */
/* overflow-x: hidden; */

  --header-background-color: whitesmoke;
  --header-color: rgb(170, 156, 119);
  width: fit-content;

  background-color: whitesmoke;
}

#root
{
  left:0;
  /* background-color: rgb(255, 0, 0); */
  position: absolute;
  top:0;
}
.saveTheDateOuterOuterContainer
{
  position: fixed;
  z-index: 334 !important;
  left: 50%;
  transform: translate(-50%, 0);
  width:100%;
  height: 100%;
  background-color: rgba(110, 110, 110, 0.767);
  top: 0;
}

.saveTheDateOuterContainer
{
  /* width: 500px; */
  position: fixed;
  z-index: 334 !important;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 20px;
  border-radius: 9px;
  max-height: calc(100% - 10px);
  /* background-color: rgb(255, 250, 208); */
  top: 0;
  overflow-x: hidden;
  scrollbar-width: thin;             
  scrollbar-color: #ccc transparent; 
  
}

.saveTheDateContainer
{
  border-radius: 9px;
  -webkit-filter: drop-shadow(5px 5px 10px #000000); /* Safari */
  -moz-filter: drop-shadow(5px 5px 10px #000000); /* Older Firefox versions */
  -ms-filter: drop-shadow(5px 5px 10px #000000); /* For older versions of IE */
  filter: drop-shadow(5px 5px 10px #000000);
  background-color: darkgray;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  /* height: 500px; */
  width: 450px;
  height: 570px;
  background-color: #f9f9f9;
  overflow-y: auto; /* Enables vertical scroll */
  z-index: 1000; /* Keep it on top */
}


.saveTheDateContent
{
  text-align: center;
  /* overflow-y: auto; */
  border-radius: 5px;
  background-color: var(--paper-color);
  height: 100%;
  color: #1f0b00;
  
  /* padding: 10px */
}
/* 

.exclamation
{
  margin-right: -2.6vh;
  margin-left: -2.6vh;

max-width: 100%; } */
/* .mainContentHeader{
  
  text-align: center; 
  font-size: clamp(1rem, 5vw, 3rem); 
  font-size: 18vh; 
  letter-spacing: -1.1vh;
  line-height: 0.9;
  margin-top: 0px;
  margin-bottom: 0;

max-width: 100%; } */
/* .contentSubHeader{
  
  text-align: center; 
  font-size: clamp(1rem, 5vw, 3rem);
  font-size: 7vh; 
  margin-top: -1.7vh;
  line-height: 0.9;
  margin-bottom: 0;
  

max-width: 100%; } */
/* .reserveHeader{
  
  text-align: center; 
  font-size: clamp(1rem, 5vw, 3rem);
  font-size: 4vh; 
  margin-top: 0;
  margin-bottom: 0;
  background-color: #000000;
  color: var(--paper-color);

max-width: 100%; } */
/* .reserveTheDate {
  
  text-align: center; 
  font-size: clamp(1rem, 5vw, 3rem);
  font-size: 3vh; 
  margin-bottom: 4vh;
  width: fit-content;
  

max-width: 100%; } */
.old-text
{
  mask-size: contain; 
  -webkit-mask-size: contain;  
  -webkit-mask-image: url("../images/crack-grunge-texture-PNG-thumb24.png");  
  -o-mask-image:url("../images/crack-grunge-texture-PNG-thumb24.png"); 
  -moz-mask-image:url("../images/crack-grunge-texture-PNG-thumb24.png");  
  -ms-mask-image:url("../images/crack-grunge-texture-PNG-thumb24.png");  
  mask-image: url("../images/crack-grunge-texture-PNG-thumb24.png"); 
}
/* 
.titleInsideCalendarContainer
{
  
  margin: 0 auto;
  margin-left: 13%;
  width: fit-content;

max-width: 100%; } */
/* .fingerSpan
{
  display: inline-block;
  position: relative;
  width: fit-content;

max-width: 100%; } */

/* .finger
{
  width: 10vh;
  transform: rotate(-10deg);
  margin-top: 4vh;
  position: relative;

max-width: 100%; }

.fingerText
{
  vertical-align: top;

max-width: 100%; } */
/* .celebrarText
{
  font-size: 2.2vh; 
  letter-spacing: -0.15vh;
  margin-bottom: 0;
  position: absolute;
  bottom: 19vh;
  width: 100%;

max-width: 100%; } */

/* .th-tag
{
  font-size: 1.2vh;

max-width: 100%; } */
/* .calendar
{
  margin-left: 0 auto;
  height: 34vh;
  margin-top: -4vh;
  -webkit-box-shadow: 12px 8px 23px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 12px 8px 23px -2px rgba(0,0,0,0.75);
  box-shadow: 12px 8px 23px -2px rgba(0,0,0,0.75);

max-width: 100%; } */

/* .calendarContainer
{
  
  transform: rotate(-5deg);
  width: 100%;
  height: 40vh;

max-width: 100%; } */

/* .name
{
  font-size: 11vh;
  margin-top: 0;
  line-height: 0.8;
  margin-bottom: 0;
  position: absolute;
  bottom: 11vh;
  width: 100%;
  text-align: center;

max-width: 100%; } */

/* .fechaText
{
  position: absolute;
  bottom: 6vh;
  width: 100%;
  text-align: center;
  letter-spacing: -0.15vh;
  font-size: 2.3vh; 

max-width: 100%; } */
/* .rsvpPagecontainer
{
  display: block;

max-width: 100%; } */
.overlay
{
  border-radius: 5px;
  width: 100%;
  height: 100%;
  mix-blend-mode:multiply;
  position:absolute;
  display:inline-block;
  left:0;
  opacity: 0.4;
  top:0;
  right:0;
  bottom:0;
  -webkit-user-drag: none;
  user-drag: none; /*csslint user-drag: none; */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  z-index: 0;
  -ms-user-select: none;
}

/* .RSVPbutton
{
  position: relative;
  background-color: rgb(0, 0, 0);
  color: var(--paper-color);
  margin: auto;
  font-weight: bold;
  border-radius: 5px;
  top: 16.5vh;
  z-index: 1;
  padding: 1.2vh;
  font-size: 2.6vh;
  border: 2px ghostwhite inset

max-width: 100%; } */

.RSVPbutton:hover
{
  border:outset;
}
.RSVPbutton2:hover
{
  border:outset;
}
.RSVPbutton3:hover
{
  border:outset;
}

.RSVPbutton2
{

  background-color: var(--header-color);
  color: var(--paper-color);
  border-radius: 5px;
  height: fit-content;
  font-weight: bold;
  z-index: 1;
  border: 2px ghostwhite inset;
  width: 75px;
  margin: auto 10px auto auto;
  padding: 7px;
}

.RSVPbutton3
{

  background-color: rgb(0, 0, 0);
  color: var(--paper-color);
  border-radius: 5px;
  height: fit-content;
  font-weight: bold;
  font-size: 17px;
  z-index: 1;
  border: 2px ghostwhite inset;
  margin: auto 50px auto auto;
  padding: 7px;
  /* margin: 0 auto ;
  margin-top: 15px; */
}

* > :not(.carousel-background-slide) {
  /* /* outline: 1px solid red; */
  max-width: 100%;
 }
